.game__status {
    width: 100%;
    max-width: 350px;
    height: 60px;
    background-color: #10A95B;
    text-align: center;
    padding: .375em;
    border-radius: 4px;
    margin-block-end: 2rem;
    visibility: hidden;
}

.game__status.won {
    visibility: visible;
    background-color: #10A95B;
}

.game__status.lost {
    visibility: visible;
    background-color: #BA2A2A;
}

.game__status h2 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 26.06px;
    color: #F9F4DA;
}

.game__status p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 20.85px;
    color: #F9F4DA;
}