@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Hanken Grotesk', Arial, sans-serif;
  background-color: #1d1d1d;
  color: #ffff;
}

img {
  width: 100%;
  height: auto;
  display: block;
}